.InactivePad {
    border: 3px solid black;
    border-radius: 3px;
    color: white;
    background-color: grey;
}

.ActivePad {
    border: 3px solid darkcyan;
    border-radius: 3px;
    background-color: cyan;
}

.Pad {
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: Geneva, sans-serif;
}
