.InactivePad {
    border: 3px solid #2d3142;
    border-radius: 3px;
    color: white;
    background-color: #4f5d75;
}

.ActivePad {
    border: 3px solid #4f5d75;
    border-radius: 3px;
    background-color: #ef8354;
}

.Pad {
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: Geneva, sans-serif;
}
